SOLANA_WS_URL=
  SOLANA_RPC_URL=
  MONITOR_PROGRAM=TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
WATCHED_ACCOUNTS=


# FOR MAINNET

 SOLANA_WS_URL=wss://mainnet.helius-rpc.com/?api-key=YOUR_KEY
  SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY
  MONITOR_PROGRAM=675kPX9MHTjS2zt1qfr1NYHuzeLXfQM9H24wFSUt1Mp8
  WATCHED_ACCOUNTS=DQyrAcCrDXQ7NeoqGgDCZwBvWDcYmFCjSb1JtteuC5BZ,HLmqeL62xR1QoZ1HKKbXRrdN1p3phKpxRMb2VVopvBBz
  LARGE_TRANSFER_THRESHOLD=10000000000
  ROLLING_WINDOW_MINUTES=10
